<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css">

	</head>
	<body>
		<div id="content">
			<form action="/scan" method="post">
				<div>
					<label for="sku">Product:</label>
					<select id="sku" name="sku">
						<option value="A">Apples</option>
						<option value="B">Biscuits</option>
						<option value="C">Crack (bag)</option>
						<option value="D">Dog Food</option>
					</select>
				</div>
				<div>
					<label for="quantity">Quanity:</label>
					<input id="quantity" name="quantity" readonly=true type="input" value="0"/>
					<button type="button" class="itemButton" id="add">+</button><button type="button" class="itemButton" id="remove" disabled="true">-</button>
				</div>
				<div id="submit">
					<input type="submit" value="Scan"/>
				</div>
			</form>
			<a href='/total'><button>Total</button></a>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script>
			(function($){
				$(document).ready(function(){
					var quantityDisplay = $('#quantity'),
						addButton = $('#add'),
						removeButton = $('#remove'),
						quantity = 0;
					addButton.click(function(){
						quantity++;
						displayQuantity(quantity);
					});
					removeButton.click(function(){
						quantity--;
						displayQuantity(quantity);
					});

					function displayQuantity(quantity){
						quantityDisplay.val(quantity);
						removeButton.attr('disabled', quantity < 1);
					};
				});
			})(jQuery);
		</script>
	</body>
</html>