<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="content">
			<div id="header">
				<div>
					<img height="70px" src="images/codejo.png"/>
				</div>
			</div>
			<form action="/basket/new" method="post">
				<div id="submit">
					<input type="submit" value="Start"/>
				</div>
			</form>
		</div>
	</body>
</html>