<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div id="content">
			<div id="header">
				<div>
					<img height="70px" src="/images/codejo.png"/>
				</div>
			</div>
			<form action="/basket/items" method="post">
				<div id="scanner" class="rounded">
					<div>
						<label for="sku">Product:</label>
						<select id="sku" name="sku">
							<option value="A">Apple</option>
							<option value="B">Biscuits (pack)</option>
							<option value="C">Crack (bag)</option>
							<option value="D">Dog Food</option>
						</select>
					</div>
					<div id="submit">
						<input type="submit" value="Add"/>
					</div>
				</div>
			</form>
			<form action="/basket/total" method="POST">
				<div id="total">
					<button>Total</button>
				</div>
			</form>
		</div>
	</body>
</html>