<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div id="content">
			<div id="header">
				<div>
					<img height="70px" src="/images/codejo.png"/>
				</div>
			</div>
			<div class="total rounded">
				<h2>Total is: <%= total%></h2>
			</div>
			<div id="done">
				<a href='/'><button>Done</button></a>
			</div>
		</div>
	</body>
</html>