body {
	font-family: ProximaNovaLight, Georgia, "Lucida Grande", Helvetica, Arial;
	font-size: 16px;
	padding-top: 150px;
}

#content {
	width: 370px;
    margin: 0 auto;
}

.bordered-container {
	padding: 5px;
	border: solid 1px #848482;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

form label {
	margin-right: 10px;
}

form input {
	width: 100px;
}

form select {
	width: 180px;
}

form select, form input, button {
	padding: 5px;
	text-align: center;
}

form #submit input, #done button  {
	text-align: center;
	width: 100%;
}