body {
	font-family: ProximaNovaLight, Georgia, "Lucida Grande", Helvetica, Arial;
	font-size: 16px;
	padding-top: 150px;
}

#content {
	width: 370px;
    margin: 0 auto;
}

#scanner, .total {
	padding: 5px;
	border: solid 1px #848482;
}

.total {
	padding: 20px 50px;
}

.rounded {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

#scanner div {
	padding: 0.4em;
	text-align: right;
}

#scanner, #total {
	float: left;
}

#total{
	padding: 0.4em;
}

#total button{
	padding: 4em 1em;
}

form label {
	margin-right: 10px;
}

.itemButton {
	width: 30px;
	font-weight: bold;
}

form input {
	width: 100px;
}

form select {
	width: 180px;
}

form select, form input, button {
	padding: 5px;
	text-align: center;
}

form #submit input, #done button  {
	text-align: center;
	width: 100%;
}